Source: nltools
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev (>=2.4-1), libfidoconf1-dev (>= 1.4-1)
Standards-Version: 3.6.1

Package: nltools
Architecture: any
Depends: ${shlibs:Depends}
Description: Nodelist Management Tools
 This archive contains a set of nodelist management utilities.
 The following functionality is provided:
 .
 - Compiling raw nodelists into a FIDOUSER.LST file, that can be used for
   nodelist lookup by sysop name, as supported by Msged and others.
 .
 - Keeping your raw nodelists up to date, i.E. logic is provided to find the
   nodediff files that apply to your current nodelist files, and a tool to 
   apply nodediffs to nodelists.
 .
 This package does NOT presently include something like a V7 nodelist
 compiler.  Therefore, this package is enough if you are running an IP node,
 but you need additional software if you are running Binkley or some other
 software that requires an V7 nodelist index.
